pyqt5
lxml
numpy
scikit-learn
roboflow
autodistill 
autodistill-grounded-sam 
autodistill-grounding-dino
ultralytics
sahi
supervision

# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu126
# pyrcc5 -o libs/resources.py resources.qrc
# python labelImg.py